.my-header {
  background-color: #f72210;
  height: 100px;
}
.my-logo img {
  width: 300px;
}
.my-date p {
  color: white;
}
.my-subcribe p {
  padding: none !important;
  color: white;
}
.subcribe-btn {
  width: 100px;
  height: 28px;
  color: #f72210;
  background-color: white;
  font: bold 20px/20px;
  text-transform: uppercase;
}
.search-box {
  position: relative;
  width: 90px;
}
.search-box input {
  border: none;
  box-shadow: none;
  background-color: white;
}
.fa-search {
  position: absolute;
  top: 25%;
  right: 15%;
}
.nav-mob {
  background: #f72210;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.mob-logo {
  width: 100px;
}
.opinion-box {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.top-story-box{
    border: none;
}
.top-story-title{
    cursor: pointer !important;
}
.top-story-title:hover{
    color: #f72210;
}
.card-btn-div{
display: flex;
align-items: center;
}
.card-btn{
margin-top: 214px;
padding-left: 0%;
margin-left: 0%;
width: 120px;
height: 35px;
border-radius: 1px;
background-color: rgba(255,255,255,.9);
font-size: bolder !important;
text-transform: uppercase;
}
.featured-btn-div{
    display: flex;
    align-items: center;
}
.featured-btn{
    margin-bottom: 100px;
    padding-left: 0%;
    margin-left: 0%;
    width: 100px;
    height: 35px;
    border-radius: 1px;
    background-color: rgba(255,255,255,.9);
    font-size: bolder !important;
    text-transform: uppercase;
}
.card-group{
    column-count: 2;
}
.jumb{
    background-color: #e9ecef;
    border: none;
}
.koko{
    border: none;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
@media only screen and (max-width: 992px) {
  .my-header {
    display: none;
  }
}
